<div class="app-shell">
  <header>
    <div>
      <h1>Pop Shop</h1>
      <p *ngIf="store.user.loggedIn">Welcome back, {{ store.user.name }}!</p>
    </div>

    <nav *ngIf="store.user.loggedIn">
      <a routerLink="/inventory">Inventory</a>
      <a routerLink="/cart">Cart ({{ store.cartQuantity }})</a>
      <a routerLink="/checkout">Checkout</a>
      <button type="button" (click)="logout()">Logout</button>
    </nav>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>
</div>